node_modules/
out/
dist/
release/
.vite/
*.log
.DS_Store
Thumbs.db
/*.exe
/*.dll
/*.pak
/*.bin
/resources/
/locales/
/resources.pak
/vk_swiftshader_icd.json
/icudtl.dat
/LICENSE.electron.txt
/LICENSES.chromium.html
